@charset "UTF-8";

.title {   /*WORKS*/
    font-size: 30px;
}
.header {           /*WORKSの後の説明文*/
    background-image: url(https://thumb.ac-illust.com/6b/6ba9b590b75bd79f31abb6252335ee5b_t.jpeg);
    background-size: 1500px;
    color: black;
    font-size: 15px;
}
.images {
    width: 500px;
    height: 400px;
    margin: 10px;
}
.tr {
    font-size: 300px;
}