@charset "UTF-8";

html {
    font-size: 62.5%;
    background-image: url(https://thumb.ac-illust.com/6b/6ba9b590b75bd79f31abb6252335ee5b_t.jpeg);
    background-size: 1500px;
}
.header {
    width: 100%;
    background-image: url(https://www.sozailab.jp/db_img/sozai/76436/7190eab2f9f809f1851d94d58c649cd4.jpg);
    background-size: 600px;
    height: 100px;
   
}
body {
    text-decoration: none;
    
}
.nav-title {  /*ABOUT*/
    text-align: center;
    text-shadow: 0 1px 5px olive;
    list-style: none;
    font-size: 30px;
}
.global-nav {  
    padding: 10px 10px 0 40px;
    list-style: none;   /*点を消去*/
    text-align: right;
    font-size: 15px;
    text-decoration: none;
    
}
.global-nav .nav-item {
    display:inline-block;  /*横並び*/
    letter-spacing: 3px;
}
.global-nav .nav-item a {
    margin-left: 15px;
    text-decoration: none;
    color: black;

}
.title {
    font-size: 40px;
    margin-top: 1px;
    text-align: center;
    color: black;
    text-shadow: 3px 3px 5px gray;
}

.main {
    font-size: 20px;
}
